.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.description {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}
.description>p {
  padding-bottom: 10px;
}